<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAztNDFBFf7dfuRZhiL8Dobl591j7KiieQ</string>
	<key>GCM_SENDER_ID</key>
	<string>335037135928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterApplication23</string>
	<key>PROJECT_ID</key>
	<string>cityscene-dc3b3</string>
	<key>STORAGE_BUCKET</key>
	<string>cityscene-dc3b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335037135928:ios:23eaadf8bc424cd1927acd</string>
</dict>
</plist>